<br />

<div class="booyah-box col-10 offset-1">
  <h1>Team</h1>

  <p>
    Myself, Kathryn 
    <br />
    UT, Center for Professional Education "Coding Bootcamp"
    <br />
    Coding Bootcamp - Program Director
    <br />
    Numerous TA's
    <br />
    Dedicated Mentor

  </p>
</div>