@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

.navbar {
  font-family: 'Luckiest Guy', cursive;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('light-grey-terrazzo.png');
}

.navbar-inverse .navbar-brand {
  font-family: 'Luckiest Guy', cursive;
  font-weight: 100;
  color: black;
}

.hero {
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty h1 {
  font-family: 'Cookie', cursive;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0) 1px 1px;
}

.frosty h2 {
  font-family: 'Cookie', cursive;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0) 1px 1px;
}

.btn {
  border-radius: 0;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  font-family: 'Acme', sans-serif;
}

body {
  background: image_url('light-grey-terrazzo.png');
  font-family: 'Cookie', cursive;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}
